<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>A</key>
  <string>A_.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>Euro</key>
  <string>E_uro.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>_part.arrowdown</key>
  <string>_part.arrowdown.glif</string>
  <key>_part.arrowup</key>
  <string>_part.arrowup.glif</string>
  <key>_part.dot</key>
  <string>_part.dot.glif</string>
  <key>_part.dotsmall</key>
  <string>_part.dotsmall.glif</string>
  <key>_part.ring</key>
  <string>_part.ring.glif</string>
  <key>_part.ringlarge</key>
  <string>_part.ringlarge.glif</string>
  <key>_part.spacebottom</key>
  <string>_part.spacebottom.glif</string>
  <key>_part.spaceside</key>
  <string>_part.spaceside.glif</string>
  <key>_part.triangleleft</key>
  <string>_part.triangleleft.glif</string>
  <key>_part.triangleright</key>
  <string>_part.triangleright.glif</string>
  <key>_part.zwpart</key>
  <string>_part.zwpart.glif</string>
  <key>_part.zwsolid</key>
  <string>_part.zwsolid.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>alt</key>
  <string>alt.glif</string>
  <key>alt_1</key>
  <string>alt_1.glif</string>
  <key>altctrl</key>
  <string>altctrl.glif</string>
  <key>ampersand</key>
  <string>ampersand.glif</string>
  <key>asciicircum</key>
  <string>asciicircum.glif</string>
  <key>asciitilde</key>
  <string>asciitilde.glif</string>
  <key>asterisk</key>
  <string>asterisk.glif</string>
  <key>at</key>
  <string>at.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>back</key>
  <string>back.glif</string>
  <key>back_1</key>
  <string>back_1.glif</string>
  <key>back_2</key>
  <string>back_2.glif</string>
  <key>back_rev</key>
  <string>back_rev.glif</string>
  <key>backslash</key>
  <string>backslash.glif</string>
  <key>bar</key>
  <string>bar.glif</string>
  <key>braceleft</key>
  <string>braceleft.glif</string>
  <key>braceright</key>
  <string>braceright.glif</string>
  <key>bracketleft</key>
  <string>bracketleft.glif</string>
  <key>bracketright</key>
  <string>bracketright.glif</string>
  <key>bullet</key>
  <string>bullet.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>caps</key>
  <string>caps.glif</string>
  <key>caps_1</key>
  <string>caps_1.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>close</key>
  <string>close.glif</string>
  <key>close_1</key>
  <string>close_1.glif</string>
  <key>colon</key>
  <string>colon.glif</string>
  <key>comma</key>
  <string>comma.glif</string>
  <key>ctrl</key>
  <string>ctrl.glif</string>
  <key>currencies</key>
  <string>currencies.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>digits</key>
  <string>digits.glif</string>
  <key>dollar</key>
  <string>dollar.glif</string>
  <key>download</key>
  <string>download.glif</string>
  <key>download_1</key>
  <string>download_1.glif</string>
  <key>download_2</key>
  <string>download_2.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>eight</key>
  <string>eight.glif</string>
  <key>ellipsis</key>
  <string>ellipsis.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emsp</key>
  <string>emsp.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>ensp</key>
  <string>ensp.glif</string>
  <key>enter</key>
  <string>enter.glif</string>
  <key>enter_rev</key>
  <string>enter_rev.glif</string>
  <key>equal</key>
  <string>equal.glif</string>
  <key>exclam</key>
  <string>exclam.glif</string>
  <key>exclamdown</key>
  <string>exclamdown.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>fbook</key>
  <string>fbook.glif</string>
  <key>fbook_1</key>
  <string>fbook_1.glif</string>
  <key>fbook_2</key>
  <string>fbook_2.glif</string>
  <key>figuresp</key>
  <string>figuresp.glif</string>
  <key>five</key>
  <string>five.glif</string>
  <key>four</key>
  <string>four.glif</string>
  <key>fourpmsp</key>
  <string>fourpmsp.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>gearwheel</key>
  <string>gearwheel.glif</string>
  <key>globe</key>
  <string>globe.glif</string>
  <key>grave</key>
  <string>grave.glif</string>
  <key>greater</key>
  <string>greater.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>hairsp</key>
  <string>hairsp.glif</string>
  <key>help</key>
  <string>help.glif</string>
  <key>help_1</key>
  <string>help_1.glif</string>
  <key>help_2</key>
  <string>help_2.glif</string>
  <key>hide</key>
  <string>hide.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>info</key>
  <string>info.glif</string>
  <key>info_1</key>
  <string>info_1.glif</string>
  <key>info_2</key>
  <string>info_2.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>left_alt</key>
  <string>left_alt.glif</string>
  <key>left_alt_ctrl</key>
  <string>left_alt_ctrl.glif</string>
  <key>left_alt_ctrl_shift</key>
  <string>left_alt_ctrl_shift.glif</string>
  <key>left_alt_shift</key>
  <string>left_alt_shift.glif</string>
  <key>left_ctrl</key>
  <string>left_ctrl.glif</string>
  <key>left_ctrl_shift</key>
  <string>left_ctrl_shift.glif</string>
  <key>less</key>
  <string>less.glif</string>
  <key>lowercase</key>
  <string>lowercase.glif</string>
  <key>lrmark</key>
  <string>lrmark.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>next</key>
  <string>next.glif</string>
  <key>nine</key>
  <string>nine.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>numbersign</key>
  <string>numbersign.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>one</key>
  <string>one.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>parenleft</key>
  <string>parenleft.glif</string>
  <key>parenright</key>
  <string>parenright.glif</string>
  <key>percent</key>
  <string>percent.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>pin</key>
  <string>pin.glif</string>
  <key>pin_1</key>
  <string>pin_1.glif</string>
  <key>plus</key>
  <string>plus.glif</string>
  <key>previous</key>
  <string>previous.glif</string>
  <key>punctsp</key>
  <string>punctsp.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>question</key>
  <string>question.glif</string>
  <key>questiondown</key>
  <string>questiondown.glif</string>
  <key>quotedbl</key>
  <string>quotedbl.glif</string>
  <key>quotesingle</key>
  <string>quotesingle.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>refasc</key>
  <string>refasc.glif</string>
  <key>refbox</key>
  <string>refbox.glif</string>
  <key>refdesc</key>
  <string>refdesc.glif</string>
  <key>refuc</key>
  <string>refuc.glif</string>
  <key>resize</key>
  <string>resize.glif</string>
  <key>resize_1</key>
  <string>resize_1.glif</string>
  <key>right_alt</key>
  <string>right_alt.glif</string>
  <key>right_alt_ctrl</key>
  <string>right_alt_ctrl.glif</string>
  <key>right_alt_ctrl_shift</key>
  <string>right_alt_ctrl_shift.glif</string>
  <key>right_alt_shift</key>
  <string>right_alt_shift.glif</string>
  <key>right_ctrl</key>
  <string>right_ctrl.glif</string>
  <key>right_ctrl_shift</key>
  <string>right_ctrl_shift.glif</string>
  <key>rlmark</key>
  <string>rlmark.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>semicolon</key>
  <string>semicolon.glif</string>
  <key>seven</key>
  <string>seven.glif</string>
  <key>shift</key>
  <string>shift.glif</string>
  <key>shift_alt</key>
  <string>shift_alt.glif</string>
  <key>shift_alt_ctrl</key>
  <string>shift_alt_ctrl.glif</string>
  <key>shift_ctrl</key>
  <string>shift_ctrl.glif</string>
  <key>shift_lock</key>
  <string>shift_lock.glif</string>
  <key>shifted</key>
  <string>shifted.glif</string>
  <key>shifted_lock</key>
  <string>shifted_lock.glif</string>
  <key>six</key>
  <string>six.glif</string>
  <key>sixpmsp</key>
  <string>sixpmsp.glif</string>
  <key>slash</key>
  <string>slash.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>spacevisible</key>
  <string>spacevisible.glif</string>
  <key>sterling</key>
  <string>sterling.glif</string>
  <key>symbols</key>
  <string>symbols.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>tab</key>
  <string>tab.glif</string>
  <key>thinsp</key>
  <string>thinsp.glif</string>
  <key>three</key>
  <string>three.glif</string>
  <key>threepmsp</key>
  <string>threepmsp.glif</string>
  <key>twitter</key>
  <string>twitter.glif</string>
  <key>twitter_1</key>
  <string>twitter_1.glif</string>
  <key>twitter_2</key>
  <string>twitter_2.glif</string>
  <key>two</key>
  <string>two.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>underscore</key>
  <string>underscore.glif</string>
  <key>uppercase</key>
  <string>uppercase.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>yen</key>
  <string>yen.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>zero</key>
  <string>zero.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwnj_android</key>
  <string>zwnj_android.glif</string>
  <key>zwnj_ios</key>
  <string>zwnj_ios.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
