<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.github.googlei18n.ufo2ft.featureWriters</key>
  <array>
    <dict>
      <key>class</key>
      <string>KernFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>ContextualMarkFeatureWriter</string>
      <key>module</key>
      <string>glyphsLib.featureWriters.markFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>GdefFeatureWriter</string>
    </dict>
    <dict>
      <key>class</key>
      <string>CursFeatureWriter</string>
    </dict>
  </array>
  <key>com.schriftgestaltung.Glyphs.fontUserData</key>
  <dict/>
  <key>com.schriftgestaltung.appVersion</key>
  <string>3208</string>
  <key>com.schriftgestaltung.customParameter.GSFont.DisplayStrings</key>
  <array>
    <string>/_part.ringlarge</string>
    <string>/refasc/refdesc/refuc/zwnj/refuc/zwj/refuc/wordjoiner/refuc/zwsp/refuc/lrmark/refuc/rlmark/refuc</string>
    <string>/refbox</string>
    <string>/refdesc</string>
    <string>/zwnj</string>
    <string>/refuc/space/refuc/nbsp/refuc/nnbsp/refuc/thinsp/refuc/hairsp/refuc/ensp/refuc/emsp/refuc/refasc/refdesc</string>
    <string>/refuc/_part.dotsmall/nbsp/refuc/_part.dot/nnbsp/refuc</string>
    <string>/refuc/enquad/refuc/emquad/refuc/ensp/refuc/emsp/refuc/threepmsp/refuc/fourpmsp/refuc/sixpmsp/refuc/figuresp/refuc/punctsp/refuc/thinsp/refuc</string>
  </array>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.disablesLastChange</key>
  <true/>
  <key>com.schriftgestaltung.customParameter.GSFont.uniqueID</key>
  <string>SIL International: CharSym Regular: 2023</string>
  <key>com.schriftgestaltung.customParameter.GSFont.useNiceNames</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue1</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue2</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.customValue3</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.iconName</key>
  <string/>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.customParameter.GSFontMaster.widthValue</key>
  <integer>100</integer>
  <key>com.schriftgestaltung.fontMasterOrder</key>
  <integer>0</integer>
  <key>com.schriftgestaltung.keyboardIncrement</key>
  <integer>1</integer>
  <key>com.schriftgestaltung.weight</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.weightValue</key>
  <integer>400</integer>
  <key>com.schriftgestaltung.width</key>
  <string>Regular</string>
  <key>com.schriftgestaltung.widthValue</key>
  <integer>100</integer>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>space</string>
    <string>nbsp</string>
    <string>nnbsp</string>
    <string>enquad</string>
    <string>emquad</string>
    <string>ensp</string>
    <string>emsp</string>
    <string>threepmsp</string>
    <string>fourpmsp</string>
    <string>sixpmsp</string>
    <string>figuresp</string>
    <string>punctsp</string>
    <string>thinsp</string>
    <string>hairsp</string>
    <string>softhyphen</string>
    <string>zwsp</string>
    <string>zwnj</string>
    <string>zwnj_ios</string>
    <string>zwnj_android</string>
    <string>zwj</string>
    <string>wordjoiner</string>
    <string>cgj</string>
    <string>lrmark</string>
    <string>rlmark</string>
    <string>tab</string>
  </array>
  <key>public.postscriptNames</key>
  <dict>
    <key>cgj</key>
    <string>uniE07A</string>
    <key>emquad</key>
    <string>uniE085</string>
    <key>emsp</key>
    <string>uniE087</string>
    <key>enquad</key>
    <string>uniE084</string>
    <key>ensp</key>
    <string>uniE086</string>
    <key>figuresp</key>
    <string>uniE08B</string>
    <key>fourpmsp</key>
    <string>uniE089</string>
    <key>hairsp</key>
    <string>uniE08E</string>
    <key>lrmark</key>
    <string>uniE090</string>
    <key>nbsp</key>
    <string>uniE082</string>
    <key>nnbsp</key>
    <string>uniE083</string>
    <key>punctsp</key>
    <string>uniE08C</string>
    <key>rlmark</key>
    <string>uniE091</string>
    <key>sixpmsp</key>
    <string>uniE08A</string>
    <key>softhyphen</key>
    <string>uniE0A1</string>
    <key>space</key>
    <string>uniE080</string>
    <key>tab</key>
    <string>uniE0A2</string>
    <key>thinsp</key>
    <string>uniE08D</string>
    <key>threepmsp</key>
    <string>uniE088</string>
    <key>wordjoiner</key>
    <string>uniE078</string>
    <key>zwj</key>
    <string>uniE077</string>
    <key>zwnj</key>
    <string>uniE079</string>
    <key>zwsp</key>
    <string>uniE081</string>
  </dict>
</dict>
</plist>
