<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>_arrowdown</key>
  <string>_arrowdown.glif</string>
  <key>_arrowup</key>
  <string>_arrowup.glif</string>
  <key>_dot</key>
  <string>_dot.glif</string>
  <key>_dotsmall</key>
  <string>_dotsmall.glif</string>
  <key>_emspold</key>
  <string>_emspold.glif</string>
  <key>_enspold</key>
  <string>_enspold.glif</string>
  <key>_lrmarkold</key>
  <string>_lrmarkold.glif</string>
  <key>_nbspold</key>
  <string>_nbspold.glif</string>
  <key>_nnbspold</key>
  <string>_nnbspold.glif</string>
  <key>_ring</key>
  <string>_ring.glif</string>
  <key>_ringlarge</key>
  <string>_ringlarge.glif</string>
  <key>_rlmarkold</key>
  <string>_rlmarkold.glif</string>
  <key>_sizeasc</key>
  <string>_sizeasc.glif</string>
  <key>_sizedesc</key>
  <string>_sizedesc.glif</string>
  <key>_sizeguide</key>
  <string>_sizeguide.glif</string>
  <key>_sizeuc</key>
  <string>_sizeuc.glif</string>
  <key>_spacebottom</key>
  <string>_spacebottom.glif</string>
  <key>_spaceold</key>
  <string>_spaceold.glif</string>
  <key>_spaceside</key>
  <string>_spaceside.glif</string>
  <key>_triangleleft</key>
  <string>_triangleleft.glif</string>
  <key>_triangleright</key>
  <string>_triangleright.glif</string>
  <key>_wordjoineralt</key>
  <string>_wordjoineralt.glif</string>
  <key>_wordjoinerold</key>
  <string>_wordjoinerold.glif</string>
  <key>_zwjold</key>
  <string>_zwjold.glif</string>
  <key>_zwnjalt</key>
  <string>_zwnjalt.glif</string>
  <key>_zwnjold</key>
  <string>_zwnjold.glif</string>
  <key>_zwpart</key>
  <string>_zwpart.glif</string>
  <key>_zwsolid</key>
  <string>_zwsolid.glif</string>
  <key>_zwspold</key>
  <string>_zwspold.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emsp</key>
  <string>emsp.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>ensp</key>
  <string>ensp.glif</string>
  <key>figuresp</key>
  <string>figuresp.glif</string>
  <key>fourpmsp</key>
  <string>fourpmsp.glif</string>
  <key>hairsp</key>
  <string>hairsp.glif</string>
  <key>lrmark</key>
  <string>lrmark.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>punctsp</key>
  <string>punctsp.glif</string>
  <key>rlmark</key>
  <string>rlmark.glif</string>
  <key>sixpmsp</key>
  <string>sixpmsp.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>tab</key>
  <string>tab.glif</string>
  <key>thinsp</key>
  <string>thinsp.glif</string>
  <key>threepmsp</key>
  <string>threepmsp.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
