<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>.notdef</key>
  <string>_notdef.glif</string>
  <key>.null</key>
  <string>_null.glif</string>
  <key>_part.arrowdown</key>
  <string>_part.arrowdown.glif</string>
  <key>_part.arrowup</key>
  <string>_part.arrowup.glif</string>
  <key>_part.dot</key>
  <string>_part.dot.glif</string>
  <key>_part.dotsmall</key>
  <string>_part.dotsmall.glif</string>
  <key>_part.ring</key>
  <string>_part.ring.glif</string>
  <key>_part.ringlarge</key>
  <string>_part.ringlarge.glif</string>
  <key>_part.spacebottom</key>
  <string>_part.spacebottom.glif</string>
  <key>_part.spaceside</key>
  <string>_part.spaceside.glif</string>
  <key>_part.triangleleft</key>
  <string>_part.triangleleft.glif</string>
  <key>_part.triangleright</key>
  <string>_part.triangleright.glif</string>
  <key>_part.zwpart</key>
  <string>_part.zwpart.glif</string>
  <key>_part.zwsolid</key>
  <string>_part.zwsolid.glif</string>
  <key>alt</key>
  <string>alt.glif</string>
  <key>alt_1</key>
  <string>alt_1.glif</string>
  <key>altctrl</key>
  <string>altctrl.glif</string>
  <key>back</key>
  <string>back.glif</string>
  <key>back_1</key>
  <string>back_1.glif</string>
  <key>back_2</key>
  <string>back_2.glif</string>
  <key>back_rev</key>
  <string>back_rev.glif</string>
  <key>back_rev_1</key>
  <string>back_rev_1.glif</string>
  <key>caps</key>
  <string>caps.glif</string>
  <key>caps_1</key>
  <string>caps_1.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>close</key>
  <string>close.glif</string>
  <key>close_1</key>
  <string>close_1.glif</string>
  <key>ctrl</key>
  <string>ctrl.glif</string>
  <key>currencies</key>
  <string>currencies.glif</string>
  <key>digits</key>
  <string>digits.glif</string>
  <key>done</key>
  <string>done.glif</string>
  <key>download</key>
  <string>download.glif</string>
  <key>download_1</key>
  <string>download_1.glif</string>
  <key>download_2</key>
  <string>download_2.glif</string>
  <key>emquad</key>
  <string>emquad.glif</string>
  <key>emsp</key>
  <string>emsp.glif</string>
  <key>enquad</key>
  <string>enquad.glif</string>
  <key>ensp</key>
  <string>ensp.glif</string>
  <key>enter</key>
  <string>enter.glif</string>
  <key>enter_rev</key>
  <string>enter_rev.glif</string>
  <key>facebook</key>
  <string>facebook.glif</string>
  <key>facebook_1</key>
  <string>facebook_1.glif</string>
  <key>facebook_2</key>
  <string>facebook_2.glif</string>
  <key>figuresp</key>
  <string>figuresp.glif</string>
  <key>fourpmsp</key>
  <string>fourpmsp.glif</string>
  <key>gearwheel</key>
  <string>gearwheel.glif</string>
  <key>globe</key>
  <string>globe.glif</string>
  <key>go</key>
  <string>go.glif</string>
  <key>hairsp</key>
  <string>hairsp.glif</string>
  <key>help</key>
  <string>help.glif</string>
  <key>help_1</key>
  <string>help_1.glif</string>
  <key>help_2</key>
  <string>help_2.glif</string>
  <key>hide</key>
  <string>hide.glif</string>
  <key>ideosp</key>
  <string>ideosp.glif</string>
  <key>info</key>
  <string>info.glif</string>
  <key>info_1</key>
  <string>info_1.glif</string>
  <key>info_2</key>
  <string>info_2.glif</string>
  <key>left_alt</key>
  <string>left_alt.glif</string>
  <key>left_alt_ctrl</key>
  <string>left_alt_ctrl.glif</string>
  <key>left_alt_ctrl_shift</key>
  <string>left_alt_ctrl_shift.glif</string>
  <key>left_alt_shift</key>
  <string>left_alt_shift.glif</string>
  <key>left_ctrl</key>
  <string>left_ctrl.glif</string>
  <key>left_ctrl_shift</key>
  <string>left_ctrl_shift.glif</string>
  <key>lowercase</key>
  <string>lowercase.glif</string>
  <key>lrisolate</key>
  <string>lrisolate.glif</string>
  <key>lrmark</key>
  <string>lrmark.glif</string>
  <key>nbsp</key>
  <string>nbsp.glif</string>
  <key>next</key>
  <string>next.glif</string>
  <key>next_rev</key>
  <string>next_rev.glif</string>
  <key>nnbsp</key>
  <string>nnbsp.glif</string>
  <key>nonmarkingreturn</key>
  <string>nonmarkingreturn.glif</string>
  <key>ofl</key>
  <string>ofl.glif</string>
  <key>pin</key>
  <string>pin.glif</string>
  <key>pin_1</key>
  <string>pin_1.glif</string>
  <key>popdirisolate</key>
  <string>popdirisolate.glif</string>
  <key>previous</key>
  <string>previous.glif</string>
  <key>previous_rev</key>
  <string>previous_rev.glif</string>
  <key>punctsp</key>
  <string>punctsp.glif</string>
  <key>refasc</key>
  <string>refasc.glif</string>
  <key>refbox</key>
  <string>refbox.glif</string>
  <key>refdesc</key>
  <string>refdesc.glif</string>
  <key>refuc</key>
  <string>refuc.glif</string>
  <key>resize</key>
  <string>resize.glif</string>
  <key>resize_1</key>
  <string>resize_1.glif</string>
  <key>right_alt</key>
  <string>right_alt.glif</string>
  <key>right_alt_ctrl</key>
  <string>right_alt_ctrl.glif</string>
  <key>right_alt_ctrl_shift</key>
  <string>right_alt_ctrl_shift.glif</string>
  <key>right_alt_shift</key>
  <string>right_alt_shift.glif</string>
  <key>right_ctrl</key>
  <string>right_ctrl.glif</string>
  <key>right_ctrl_shift</key>
  <string>right_ctrl_shift.glif</string>
  <key>rlisolate</key>
  <string>rlisolate.glif</string>
  <key>rlmark</key>
  <string>rlmark.glif</string>
  <key>search</key>
  <string>search.glif</string>
  <key>send</key>
  <string>send.glif</string>
  <key>shift</key>
  <string>shift.glif</string>
  <key>shift_alt</key>
  <string>shift_alt.glif</string>
  <key>shift_alt_ctrl</key>
  <string>shift_alt_ctrl.glif</string>
  <key>shift_ctrl</key>
  <string>shift_ctrl.glif</string>
  <key>shift_lock</key>
  <string>shift_lock.glif</string>
  <key>shifted</key>
  <string>shifted.glif</string>
  <key>shifted_lock</key>
  <string>shifted_lock.glif</string>
  <key>sixpmsp</key>
  <string>sixpmsp.glif</string>
  <key>softhyphen</key>
  <string>softhyphen.glif</string>
  <key>spacevisible</key>
  <string>spacevisible.glif</string>
  <key>symbols</key>
  <string>symbols.glif</string>
  <key>tab</key>
  <string>tab.glif</string>
  <key>thinsp</key>
  <string>thinsp.glif</string>
  <key>threepmsp</key>
  <string>threepmsp.glif</string>
  <key>twitter</key>
  <string>twitter.glif</string>
  <key>twitter_1</key>
  <string>twitter_1.glif</string>
  <key>twitter_2</key>
  <string>twitter_2.glif</string>
  <key>uppercase</key>
  <string>uppercase.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
  <key>zwnj_android</key>
  <string>zwnj_android.glif</string>
  <key>zwnj_ios</key>
  <string>zwnj_ios.glif</string>
  <key>zwsp</key>
  <string>zwsp.glif</string>
</dict>
</plist>
